<perfect-scrollbar>
  <div mat-dialog-content>
    <perfect-scrollbar>
      <div style="padding-right: 12px">{{ data.commentText }}</div>
    </perfect-scrollbar>
  </div>
  <form class="score-card-form" #scoreCardForm="ngForm" (ngSubmit)="submitReply(scoreCardForm)">
    <div class="fallacies">
      <fieldset class="fallacy-set">
        <legend>Emotional Fallacies</legend>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">Sentimental Fallacy<i
            style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
            class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">Red Herring<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">Scare Tactic<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">Bandwagon<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">Slippery Slope<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">False Dilemma<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">False Need<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
      </fieldset>
      <fieldset class="fallacy-set">
        <legend>Ethical Fallacies</legend>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">False Authority<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">False Association<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">Dogmatism<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">Moral Equivalence<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">Ad Hominem<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">Straw Person<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
      </fieldset>
      <fieldset class="fallacy-set">
        <legend>Ethical Fallacies</legend>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">Hasty Generalization<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">Faulty Causality<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">Non-Sequitor<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">Equivocation<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">Begging the Question<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">Faulty Analogy<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
        <mat-checkbox class="checkbox" [disableRipple]="true" [(ngModel)]="checked">Stacked Evidence<i
          style="vertical-align: middle; padding-left: 4px; font-size: 14px; color: #443eff"
          class="material-icons" (click)="$event.preventDefault();">info</i></mat-checkbox>
      </fieldset>
    </div>
    <div mat-dialog-actions>
      <button class="outline primary" mat-button (click)="onNoClick()">Cancel</button>
      <button class="fill primary" type="submit" mat-button (click)="submitReply(replyForm)">Submit</button>
    </div>
  </form>
</perfect-scrollbar>