/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import './assets/css/quill.snow.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
// em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
// strong,
// sub,
// sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.22;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  margin: 0;
}

form {
  input {
    outline: none;
    outline-style: none;
    border: 1px solid #d1d1d1;
    height: 24px;
    padding: 0 4px;
  }
}


body {
    font-family: 'Nunito', sans-serif !important;
    font-size: 16px;

    * {
      font-family: 'Nunito', sans-serif;
    }

    a {
      color: inherit;
    }

    *:focus {
      outline-style: none !important;
    }

    strong {
      font-weight: 600;
    }
}

button {
  border-width: 1px;
  border-style: solid;
  border-radius: .375rem;
  padding: 6px 10px;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  outline-style: none !important;
  font-weight: 600;
  cursor: pointer;

  &.circle {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.outline {
    background-color: #fff;
    color: #404040;
    border: 1px solid transparent;
    box-shadow: 0 1px 8px 3px rgba(98, 98, 98, .33);

    &.primary {
      color: #443eff;

      &:hover {
        color: #fff;
        background-color: #443eff;
        border-color: #443eff;
      }
    }

    &.secondary {
      color: #ffa23e;

      &:hover {
        color: #fff;
        background-color: #ffa23e;
        border-color: #ffa23e;
      }
    }

    &.success {
      color: #425937;

      &:hover {
        color: #fff;
        background-color: #425937;
        border-color: #425937;
      }
    }

    &:active {
      box-shadow: 0 1px 6px 1px rgba(98, 98, 98, .33);
    }
  }

  &.fill {
    color: #fff;
    box-shadow: 0 1px 8px 3px rgba(98, 98, 98, .33);
    &.primary {
      background-color: #443eff;
      border-color: #443eff;

      &:hover {
        background-color: lighten(#443eff, 5); 
      }
    }

    &.secondary {
      background-color: #ffa23e;
      border-color: #ffa23e;
      color: #404040;

      &:hover {
        background-color: lighten(#ffa23e, 5); 
      }
    }

    &.success {
      background-color: #425937;
      border-color: #425937;

      &:hover {
        background-color: lighten(#425937, .2); 
      }
    }

    &:active {
      box-shadow: 0 1px 6px 1px rgba(98, 98, 98, .33);
    }
  }
}

.rabbly-tooltip {
  background-color: #404040;
}

.advert {
  background-color: #3eff4b;
  color: white;

  &.advert-side-large {
    position: absolute;
    top: 0;
    right: 12px;
    height: 600px;
    width: 300px;
    text-align: center;
  }

  &.advert-side-medium {
    position: absolute;
    bottom: 28px;
    right: 12px;
    height: 250px;
    width: 300px;
    text-align: center;
  }
  

  &.advert-top {
      display: none;
      height: 90px;
      width: 728px;
      margin: 0 auto;
  }
}

.form-container {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}


.mat-dialog-container {
  border-radius: 0 !important;
  min-height: 256px !important;
  min-width: 256px !important;
  padding: 16px !important;
  position: relative;
  max-height: 90vh !important;

  .mat-dialog-content {
    margin: 0 !important;
    padding: 0 !important;
    min-height: 24px;
  }

  .ql-editor {
    min-height: 112px;
  }

  .comment-form {
    height: 100%;
    padding-bottom: 40px;
    margin-top: 8px;
  }

  .reply-input {
    width: 100%;
    min-height: 112px;
  }

  .checkbox {
    &.mat-checkbox-checked {
        .mat-checkbox-background {
            background-color: #443eff !important;
        }
    }
}

  .mat-dialog-actions {
    justify-content: flex-end !important;
    align-items: flex-end !important;
    padding: 0 !important;
    position: absolute;
    bottom: 40px;
    right: 16px;
    min-height: 36px !important;

    button {
      margin-left: 8px !important;
    }
  }
}