<div class="side-nav">
  <div
    [routerLink]="['/profile']"
    class="info-section profile"
    [ngClass]="{ 'selected' : this.currentItem === 'profile' }"
  >
    <div class="profile-image">
      <img
        src="{{ profile.imageUrl || 'assets/images/default-user.svg' }}"
        alt="Profile picture"
        height="112px"
        width="112px"
      />
    </div>
    <div class="profile-name">{{ profile.username || "Add Username" }}</div>
    <div class="inner" *ngIf="profile.ideology">
      Ideology: {{ profile.ideology }}
    </div>
    <div class="inner">Social Position: {{ profile.socialCoordinate }}</div>
    <div class="inner">Economic Position: {{ profile.economicCoordinate }}</div>
  </div>
  <hr />
  <div
    [routerLink]="['/group/' + group.id]"
    class="info-section group"
    [ngClass]="{ 'selected' : this.currentItem === group.id }"
    *ngIf="group"
  >
    <div>
      {{ group.name }}
    </div>
    <!-- Make this a link to view their permissions? -->
    <div style="font-size: 14px;">{{ rank.title }}</div>
  </div>
  <hr />
  <div class="section debate">
    <div style="text-align: center; padding: 0px 12px;">
      Debates
    </div>
    <div class="section-title">
      Created
    </div>
    <div
      class="inner"
      *ngFor="let debate of createdDebates"
      [ngClass]="{ 'selected' : this.currentItem === debate.id }"
    >
      <div [routerLink]="['/debate/' + debate.id]">{{ debate?.topic }}</div>
    </div>
    <div class="section-title">
      Participating
    </div>
    <div
      class="inner"
      *ngFor="let debate of participatingDebates"
      [ngClass]="{ 'selected' : this.currentItem === debate.id }"
    >
      <div [routerLink]="['/debate/' + debate.id]">{{ debate?.topic }}</div>
    </div>
  </div>
  <hr />
</div>
