<div class="side-nav">
  <div class="section group" *ngIf="group">
    <div class="link-header title">
      <a routerLink="/group/{{ group.id }}">{{ group.name }}...</a>
    </div>
    <!-- Make this a link to view their permissions? -->
    <div class="inner">Rank: {{ rank.title }}</div>
  </div>
  <div class="section profile">
    <!-- {{ profile | json }} -->
    <div class="link-header title">
      <a routerLink="/profile">{{ profile.username }}</a>
    </div>
    <div class="inner">Ideology: {{ profile.ideology }}</div>
    <div class="inner">Social Position: {{ profile.socialCoordinate }}</div>
    <div class="inner">Economic Position: {{ profile.economicCoordinate }}</div>
  </div>
  <div class="section debate">
    <div class="link-header title">
      Debates
    </div>
    <div class="inner">
      <div>Created</div>
      <div class="inner">
        Some debate
      </div>
    </div>
    <div class="inner">
      <div>Participating</div>
      <div class="inner">
        Another Debate
      </div>
    </div>
  </div>
</div>
