.form-container {
    display: flex;
    flex-direction: column;

    form {
        label {
            display: block;
        }

        .invalid {
            border-color: red;
        }
    }
}

:host {
    width: 100%;
}