.mat-drawer-container {
    position: fixed;
    top: 56px;
    height: calc(100vh - 56px);
    width: 100%;
    background-color: #fbfbfb;

    .mat-sidenav {
        width: 244px;
        border: 0;
        background-color: #2e0a07;
    }

    .mat-drawer-content {
        padding: 24px 8px 12px 8px;
        .toggler {
            position: absolute;
            top: 3px;
            left: 3px;
            color: #2e0a07;
            width: 18px;
            height: 18px;
            font-size: 18px !important;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 0 8px 3px rgba(#bcbcbc, .88);
            user-select: none;
        }

        .main {
            padding: 0;
            display: flex;
            width: 100%;

            &:nth-child(n + 1) {
                width: 100% !important;
            }
        }
    }
}