<div class="advert advert-top">
  Advertisement
</div>
<div *ngIf="profile" class="profile">
  <div class="profile-row">
    <div style="display: flex; flex-direction: column; justify-content: center; font-size: 12px;">
        <div>Joined: <span style="color: #443eff">{{ profile?.createdAt | amTimeAgo }}</span></div>
        <div>Updated: <span style="color: #443eff">{{ profile?.updatedAt | amTimeAgo }}</span></div>
    </div>
    <div>
        <img
        height="112px;"
        width="112px;"
        [src]="profile.imageUrl || '/assets/images/default-user.svg'"
        alt="Profile picture"
      />
    </div>
  </div>

  <div class="profile-row">
    <div class="title">Username:</div>
    <div class="value">{{ profile?.username }}</div>
  </div>

  <div class="profile-row">
    <div class="title">Gender:</div>
    <div class="value">{{ profile?.gender }}</div>
  </div>

  <div class="profile-row">
      <div class="title">Country:</div>
      <div class="value">{{ setStateDisplayValue(profile?.country) }}</div>
  </div>

  <div class="profile-row" *ngIf="profile?.state !== 'None'">
      <div class="title">State:</div>
      <div class="value">{{ setStateDisplayValue(profile?.state) }}</div>
  </div>

  <div class="profile-row">
      <div class="title">Zip Code:</div>
      <div class="value">{{ profile?.zipCode }}</div>
  </div>

  <div class="profile-row">
      <div class="title">Ideology:</div>
      <div class="value">{{ profile?.ideology }}</div>
  </div>

  <div class="profile-row">
      <div class="title">Economic Coordinate:</div>
      <div class="value">{{ profile?.economicCoordinate }}</div>
  </div>

  <div class="profile-row">
      <div class="title">Social Coordinate:</div>
      <div class="value">{{ profile?.socialCoordinate }}</div>
  </div>
</div>
<div class="advert advert-side-large">
  Advertisement
</div>
