.form-container {
    display: flex;
    flex-direction: column;

    form {
        label {
            display: block;
        }

        .invalid {
            border-color: red;
        }
    }

    .btn-container {
        display: flex;
        justify-content: space-between;
    }
}

:host {
    width: calc(100% - 12px);
}