<div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="submit($event)">
      <fieldset>
        <label>Email</label>
        <input
          type="email"
          formControlName="email"
          [ngClass]="{ invalid: form.email.dirty && !form.email.valid }"
        />
      </fieldset>
      <fieldset>
        <label>Password</label>
        <input
          type="password"
          formControlName="password"
          [ngClass]="{ invalid: form.password.dirty && !form.password.valid }"
        />
      </fieldset>
      <div class="btn-container">
        <button type="submit">Submit</button>
        <button routerLink="/auth/register">Sign Up</button>
      </div>
      <!-- <div *ngIf="loginForm.errors.loginError">There was an error while logging in. Please try again.</div> -->
    </form>
    <div class="social-container">
      <button (click)="socialLogin('google')">Google</button>
    </div>
  </div>
  