<div class="comment-card">
    <div class="actions">
        <button class="fill primary circle" matTooltip="Reply to this comment" matTooltipClass="rabbly-tooltip"
            aria-label="Reply to this comment." (click)="openDialog()">
            <i class="material-icons">add</i>
        </button>
        <button class="fill secondary circle" matTooltip="Grade this comment" matTooltipClass="rabbly-tooltip"
            aria-label="Use this to judge the comment's creator on their rhetoric.">
            <i class="material-icons">ballot</i>
        </button>
        <button class="outline primary circle" matTooltip="Comment Information" matTooltipClass="rabbly-tooltip"
            aria-label="Contains general information about the comment.">
            <i class="material-icons">info_outline</i>
        </button>
    </div>
    <div class="text">
        {{ comment.text }}
    </div>
</div>