.debate {
  margin-top: 2px;

  .debate-card {
    display: flex;
    box-shadow: 0 1px 8px 3px rgba(98, 98, 98, .33);
    flex-direction: row;
    min-height: 192px;
    font-size: 14px;
    margin-bottom: 24px;
    margin-left: 4px;
    width: calc(100% - 312px);

    &:hover {
      box-shadow: 0 1px 8px 1px rgba(98, 98, 98, .33);
    }

    .actions {
      border-right: 1px solid #ddd;
      font-size: 12px;
      padding: 8px;
      width: 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      button {
        margin: 4px auto;
      }
    }

    .main {
      display: flex;
      width: 100%;
      flex-direction: column;

      .info {
        cursor: default;
        font-size: 12px;
        min-height: 40px;
        border-bottom: 1px solid #ddd;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 0px 4px;
      }

      .body {
        height: 100%;
        .topic {
          min-height: 112px;
        }

        .description {
          min-height: 112px;
        }
      }
    }
  }
}

:host {
  width: calc(100% - 12px);
}

.advert-side-large {
  float: right;
}


@media screen and (max-width: 1200px) {
  .advert-side-large {
    display: none;
  }

  .debate-card {
    width: calc(100% - 16px) !important;
    margin-top: 8px;
  }

  :host {
    width: 100%;
  }

  .advert-top {
    display: flex;
  }
}
